*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: linear-gradient(90deg,rgb(255, 255, 255),(rgb(215, 215, 215)),rgb(255, 255, 255))
}
a{
    text-decoration: none;
}
/* Heading */
.heading{
    background-color: rgb(65, 0, 0);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    position: sticky;
    top: 0px;
}
.title{
    color: white;
    margin-left: 20px;
    text-shadow: 0px 0px 30px white;
}
.nav-item{
    background-color: rgb(186, 186, 186);
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
}
.nav-item a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.nav{
    display: flex;
    gap: 10px;
    margin-right: 2px;
    height: 70%;
}

/* Footer */

footer{
    position: fixed;
    bottom: -5px;
    width: 100%;
    height: 50px;
    background-color: rgb(65, 0, 0);
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    position: sticky;
}
footer>a:link{
    color: white;
}
footer>a:hover{
    color: black;
}
footer>a:visited{
    color: rgb(105, 105, 105);
}

/* Tablet */
@media (min-width:768px) {
    .title{
        font-size: 30px;
    }
    .nav{
        width: 50%;
        font-size: 24px;
    }
    .nav-item a{
        font-size: 20px;
    }
}
